.custom-input {
  background-color: #EDEDED !important;
  border: none !important;
}

.input-dropdown {
  position: relative;
  width: 170px !important;
  height: 58px;
  margin-right: 20px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 5px;
  color: #fff;

  transition: all 0.1s ease-in-out;

  background-image: url('/images/assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px;
}
.input-dropdown::placeholder {
  color: #fff;
  opacity: 1; 
}

.input-bg-blue {
  background-color: #3282F7;
}
.input-bg-green {
  background-color: #68D9A4;
}
.input-bg-orange {
  background-color: #ED6454;
}
.active {
  width: 789px !important;
  border-radius: 5px 5px 0 0;
  background-image: url('/images/assets/arrow-up.svg');
}
.active::placeholder {
  color: #fff;
  opacity: .5;  
}

.input-group__wrapper {
  position: relative;
}

.dropdown-list {
  display: none;
  width: 100%;
  position: absolute;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  color: #fff;
  background-image: none;
}
.dropdown-list.active {
  display: block;
}
.dropdown-list p {
  width: fit-content;
  cursor: pointer;
}
.ingredients-list p:hover {
  text-decoration: underline;
}
.dropdown-list .col {
  max-width: 220px;
}

.ingredients-list {
  border: solid #3282F7;
  outline: 2px solid #3282F7;
  background-color: #3282F7;
}

#appliances-input {
  outline: #68D9A4;
}
.appliances-list {
  border: solid #68D9A4;
  outline: 0px solid #68D9A4;
  background-color: #68D9A4;
}

#ustensils-input {
  outline: #ED6454;
}
.ustensils-list {
  border: solid #ED6454;
  outline: 0px solid #ED6454;
  background-color: #ED6454;
}